
.accordion {
  background-color: #daeaf2;
  width: 100%;
  padding: 15px 20px 15px 20px;
  border-radius: 0px;
 }

.accordion:hover{
  cursor: pointer;
}


/* Main accordion arrow 
========================================================================== */
.accordion button{
  float: right;
  font-size: 25px;
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  outline: none;
  color: #0769e0;
}


/* Accordion dropdown panel
========================================================================== */
.accordion-panel{
  margin: 0 auto;
  padding: 15px 0px;
  min-width: 100%;
  max-width: 100%;
  border-width: 1px;
  border-color: #daeaf2;
  border-style: solid;
  border-top: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Rotate class for dropdown button
========================================================================== */

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.up {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

ol.about {
	margin-left: 18px !important;
	padding: 0;
    color: #697788;
    font-size: 16px;
}
ol.about li {
	margin: 0 5px;
    color: #697788;
    font-size: 16px;
}